@import url("normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("swiper-bundle.min.css");

* {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

@font-face {
  font-family: "Bebas Neue Book";
  src: url("../fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue Bold";
  src: url("../fonts/BebasNeueBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Noto Sans", sans-serif;
}

body::-webkit-scrollbar {
  display: block;
}

.mobile-menu {
  display: none;
}

.container {
  max-width: 90rem;
  margin: auto;
}

.navbar {
  /* background-color: rgb(85, 85, 85); */
  display: flex;
  align-items: center;
  color: white;
  height: 5.875rem;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.2s, height 0.2s;
}

.navbar-light {
  background-color: white;
  color: #292d33;
}

.logo-dark {
  display: none;
}

.navbar-light .logo-light {
  display: none;
}
.navbar-light .logo-dark {
  display: block;
}
.navbar-scroll {
  height: 4.5rem;
}

.phone-icon {
  fill: #5c8ee6;
}

.logo-dark {
  display: none;
}

.logo-svg {
  width: 9rem;
  height: 2.75rem;
}

.navbar-light .header-logo-path {
  fill: #292d33;
}

.header {
  padding-top: 5.875rem;
}

.no-webp .header-image {
  background-image: url("../img/header-bg.png");
}
.header-image {
  background-image: url("../img/header-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.header-image::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.66);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.header-logo {
  display: flex;
  align-items: center;
  padding: 0 3.125rem;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}

.header-nav {
  flex-grow: 1;
  flex-basis: 100%;
  display: flex;
  align-items: center;
  height: 100%;
  list-style: none;
  padding: 0;
  padding-left: 2.9rem;
  margin: 0;
}

.header-nav-item {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-nav-item:not(:last-child) {
  margin-right: 4.5%;
}

.header-nav-link {
  text-decoration: none;
  font-family: Noto Sans;
  font-size: 1rem;
  font-weight: 500;
  color: inherit;
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;
  /* border-bottom: 2px solid rgba(92, 142, 230, 100); */
}

.header-nav-link:after {
  content: "";
  /* width: 100%; */
  width: 0px;
  height: 2px;
  position: absolute;
  bottom: -1px;
  background-color: rgba(92, 142, 230, 100);
  /* transform: scaleX(0); */
  /* transition: transform 0.3s; */
  transition: width 0.3s;
  right: 0;
  left: auto;
}

.header-nav-link:hover::after {
  /* transform: scaleX(1); */
  width: 100%;
  right: auto;
  left: 0;
}

.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-right: 3.125rem;
}

.header-phone-link {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
  font-weight: 700;
}

.phone-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.button {
  font-size: 1rem;
  font-weight: 600;
  line-height: 160%;
  color: rgb(255, 255, 255);
  background: #5c8ee5;
  padding: 1.5625rem 3.65rem;
  border: none;
  display: inline-block;
  cursor: pointer;
  letter-spacing: 0.3px;
}

.navbar-button {
  height: 100%;
  flex-shrink: 0;
  padding: 1.5625rem 3.1125rem;
  background: #5c8ee6;
}

.navbar-button .button-icon {
  display: none;
}

.header-button {
  height: 100%;
}

.separator {
  width: 9.375rem;
  height: 2px;
  background: rgb(92, 142, 230);
}

.separator_w135 {
  width: 8.4rem;
}

.header-content {
  padding-top: 9.375rem;
  position: relative;
  z-index: 1;
  color: white;
}
.header-title {
  max-width: 67.5rem;
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 5rem;
  line-height: 120%;
  margin: 1.4375rem 0 2.375rem 0;
}

.header-text {
  max-width: 45rem;
  color: rgb(255, 255, 255);
  font-family: Noto Sans;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0;
  word-spacing: 1.6px;
  margin-bottom: 3.125rem;
}

.header-features {
  display: flex;
  min-height: 10.5rem;
  padding: 0;
  margin-top: 6.25rem;
  list-style: none;
  color: white;
  position: relative;
}

.header-features-bl {
  color: #292d33;
}

.features-icon {
  width: 2.25rem;
  height: 2.25rem;
}
.header-features-item {
  padding: 1.875rem 3.125rem;
  height: auto;
  border: 1px solid rgba(235, 235, 240, 0.2);
  width: 18rem;
}

.header-features-item-bl {
  border: 1px solid rgb(235, 235, 240);
  padding-bottom: 0.8rem;
  /* sep */
}

.swiper {
  height: 268px;
}

.swiper-bl {
  height: auto;
}
.slider-buttons {
  /* display: none; */
  height: 44px;
}

.slider-button-prev,
.slider-button-next {
  flex-basis: 50%;
  height: 100%;
  flex-basis: 50%;
  border: 1px solid rgba(235, 235, 240, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.slider-button-bl {
  border: 1px solid rgb(235, 235, 240);
  display: none;
}

.button-arrow-wh {
  fill: #fff;
}

.button-arrow-bl {
  fill: #292d33;
}

.header-features-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0;
  letter-spacing: 0.2px;
  line-height: 164%;
}

.section {
  margin-top: 9.375rem;
  margin-bottom: 9.375rem;
  /* margin-left: 240px;
  margin-right: 270px; */
}

.section-title {
  /* h2 */
  color: #292d33;
  font-family: "Bebas Neue book";
  font-size: 3.75rem;
  line-height: 120%;
  margin-top: 1.5625rem;
  letter-spacing: 0.3px;
}

.section-title-about-main {
  letter-spacing: 0.5px;
  margin-bottom: 1.7rem;
}

.section-title_375px {
  display: none;
}

.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1.875rem;
}

.steps-item {
  max-width: 20.625rem;
  min-height: 100%;
  /* border: 1px solid rgba(3, 3, 3, 0.2); */
}

.steps-num {
  color: rgb(92, 142, 230);
  font-family: Bebas Neue;
  font-size: 3rem;
  line-height: 120%;
  display: flex;
  align-items: center;
}

.steps-num::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #ebebf0;
  display: inline-block;
  margin-left: 1.875rem;
}

.steps-title {
  color: rgb(41, 45, 51);
  font-family: Noto Sans;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 160%;
  margin-top: 2.1875rem;
  margin-bottom: 0.625rem;
  letter-spacing: 0.2px;
}

.steps-text {
  color: rgb(130, 138, 153);
  font-family: Noto Sans;
  font-size: 1rem;
  font-weight: 400;
  line-height: 166%;
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
  letter-spacing: 0.2px;
  word-spacing: 1.1px;
}

.button-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(92, 142, 230);
  font-family: Noto Sans;
  font-size: 1rem;
  font-weight: 620;
  line-height: 160%;
}

.button-link::before {
  content: "";
  width: 2.5rem;
  height: 1px;
  /* main */
  background: rgb(92, 142, 230);
  margin-right: 1.25rem;
  transition: width 0.2s;
}

.button-link-main {
  width: 14.5rem;
}

.button-link:hover:before {
  width: 60px;
}

.swiper2 {
  /* max-width: 100%; */
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  box-sizing: border-box;
  width: 100%;
  /* overflow: hidden; */
}

.primary-buttons-wrapper {
  display: flex;
  height: 60px;
  width: 100%;
  justify-content: flex-end;
}

.steps-slider-buttons {
  display: none;
  width: 80px;
  width: 100%;
  justify-content: flex-end;
}

.primary-button-prev,
.primary-button-next {
  height: 100%;
  border: 1px solid rgba(235, 235, 240, 0.2);
  background: #5c8ee6;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex-basis: 33%;
  border: 1px solid #ebebf0;
  position: relative;
  text-decoration: none;
  transition: border 0.3s;
}

.card:hover .card-title {
  color: #5c8ee6;
}

.card:hover {
  border-color: #5c8ee6;
}

.card-image {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  z-index: 0;
}
.card-content {
  padding: 2.8rem 3rem;
}

.card-title {
  color: #292d33;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 140%;
  margin-top: 0;
  margin-bottom: 0.625rem;
  transition: color 0.3s;
}

.card-text {
  color: #828a99;
  font-size: 1rem;
  line-height: 160%;
  text-align: left;
  margin-bottom: 22.57rem;
  /* было 24.625rem */
}

.section-trademark {
  margin-top: 9.75rem;
}

.section-trademark-var2 {
  margin-top: 5.75rem;
}

.trademarks {
  display: flex;
  flex-wrap: nowrap;
}

.trademark {
  display: flex;
  padding: 3.125rem;
  /* padding-top: 3.125rem;
  padding-left: 3.125rem;
  padding-right: 3.125rem; */
  flex-basis: 50%;
  border: 1px solid #ebebf0;
  position: relative;
  text-decoration: none;
  transition: border 0.3s;
}

.trademark:hover {
  border-color: #5c8ee6;
}

.trademark-cards {
  display: flex;
  margin-top: 3.5rem;
}

.section-title_full {
  display: block;
  letter-spacing: 0.0313rem;
}

.trademark-card {
  flex-basis: 50%;
  border: 1px solid #ebebf0;
  text-decoration: none;
  transition: border 0.3s;
  padding: 3.25rem 3.125rem;
  display: grid;
  grid-template-columns: 11.25rem 1fr;
  grid-template-rows: auto 2fr;
  grid-column-gap: 3.125rem;
  grid-template-areas:
    "logo title title"
    "logo text text";
}

.trademark-card-logo {
  grid-area: logo;
  fill: #828a99;
  width: 100%;
  height: 100%;
}

.trademark-card:hover .trademark-card-logo {
  fill: #5c8ee6;
}

.trademark-card:hover .trademark-card-title {
  color: #5c8ee6;
}

.trademark-card-title {
  color: #292d33;
  font-size: 1.75rem;
  font-weight: 400;
  margin: 0;
  line-height: 140%;
  transition: color 0.3s;
  grid-area: title;
}

.trademark-card-text {
  font-style: normal;
  font-weight: 400;
  color: #828a99;
  font-size: 1rem;
  line-height: 160%;
  grid-area: text;
  margin-top: 0.98rem;
}

.trademark-card:hover {
  border-color: #5c8ee6;
}

.founder-section {
  position: relative;
  min-height: 41.25rem;
  margin-top: 4.5rem;
}

.founder-photo {
  position: absolute;

  top: 0;
  width: 43.7%;
  height: 100%;
  object-fit: cover;
}

.founder-photo-left {
  left: 0;
}

.founder-photo-right {
  right: 0;
}

.section-title-our_production {
  letter-spacing: 0.5px;
}

.our_production-content-wrapper {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  /* grid-template-columns: auto 41.5%; */
  grid-template-rows: auto;
  grid-column-gap: 7.5rem;
  /* grid-template-areas:
    "op_title op_img"
    "op_content op_img "; */
}

.grid_right_img {
  grid-template-columns: auto 41.5%;
  grid-template-areas:
    "op_title op_img"
    "op_content op_img ";
}

.grid_left_img {
  grid-template-columns: 41.5% auto;
  grid-template-areas:
    "op_img op_title "
    "op_img op_content";
}

.our_production-img {
  grid-area: op_img;
}

.our_production-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.our_production-title {
  grid-area: op_title;
  margin-top: 3.1rem;
  margin-bottom: 1.25rem;
}

.our_production-title_var2 {
  margin-bottom: 0.5rem;
}

.our_production-content {
  margin-top: -11rem;
  grid-area: op_content;
}

.production_content_var2 {
  margin-top: -3rem;
}

.our_production-list {
  /* margin-top: 30px; */
  list-style: none;
  padding: 0;
  columns: 2 auto;
  width: 98%;
}

.our_production-list-v2 {
  margin-top: 1.8rem;
  width: 96%;
}

.founder-content {
  max-width: 45rem;
  margin-top: 3.125rem;
}

.founder-link-375 {
  display: none;
}

.our_production-section {
  margin-top: 4.55rem;
}

.our_production-section-v2 {
  /* margin-top: 4.55rem; */
  margin-bottom: 0;
}

.founder-content-wrapper,
.our_production-wrapper {
  display: flex;
}

.f-c-w-right {
  justify-content: flex-end;
}

.f-c-w-left {
  justify-content: flex-start;
}

.section-title-founder,
.section-title-our_production {
  margin-bottom: 1.64rem;
}

.founder-text,
.our_production-text,
.about-main-text,
.about-seo-text {
  color: rgb(130, 138, 153);
  font-size: 1rem;
  font-weight: 500;
  line-height: 163%;
}

.our_production-text,
.about-main-text,
.about-seo-text {
  padding-bottom: 0.525rem;
}

.our_production-text2 {
  margin-top: 0;
}

/* .sections-clients, .section-blog {
  margin-bottom: 14rem;
} */

.clients-wrapper {
  display: flex;
  gap: 0.6rem;
}

.clients-content {
  flex-basis: 50%;
}
.clients-list {
  margin-top: -6px;
  list-style: none;
  padding: 0;
  columns: 2 auto;
}

.clients-list-item,
.autohim-kinds-item {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  color: rgb(41, 45, 51);
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.1px;
}

.clients-list-item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.clients-list-item-v2:not(:last-child) {
  margin-bottom: 1rem;
}

.clients-logo-list {
  margin-top: 1.875rem;
  flex-shrink: 10;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.clients-logo-item {
  flex-basis: 33%;
  min-height: 10rem;
  border: 1px solid #ebebf0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.clients-logo-item:hover {
  filter: grayscale(0%);
  transition: filter 0.3s;
}

.clients-logo {
  max-width: 100%;
  width: 70px;
  height: 70px;
}

.section-blog {
  margin-top: 0;
}

.blog-slider {
  overflow: hidden;
}

.blog-slider_visible {
  overflow: visible;
}

.section-title-blog {
  font-size: 3.7rem;
  line-height: 120%;
  letter-spacing: 0.7px;
  /* margin-bottom: 3.5rem; */
  margin-bottom: 1.6rem;
}

.section-title-blog-main {
  margin-bottom: 3.5rem;
  letter-spacing: 0.4px;
}

.blog-text-content {
  columns: 2 auto;
  margin-bottom: 4.8rem;
  column-gap: 1.8rem;
}

.blog-card {
  display: flex;
  position: relative;
  min-height: 25rem;
  flex-direction: column;
  text-decoration: none;
  color: #fff;
  justify-content: flex-end;
  padding: 3.125rem;
}

.blog-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(41, 45, 51, 0.6);
  z-index: -1;
}

.blog-card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.blog-card-image-zi0 {
  z-index: 0;
}

.blog-card-title {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 10px;
  margin-top: 0;
  word-spacing: 1.4px;
}

.blog-card-text {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 300;
  line-height: 160%;
  font-style: normal;
  margin: 0;
  letter-spacing: 0.4px;
}

.blog-slider-footer {
  display: flex;
  align-items: center;
  margin-top: 1.875rem;
  justify-content: space-between;
}

.blog-buttons {
  /* background: #5c8ee6; */
}

.blog-button-next {
  padding-right: 15px;
  border: 0;
}
.blog-button-prev {
  padding-left: 15px;
  border: 0;
}

.bg-grey {
  background: rgb(240, 242, 245);
}
.section-cta {
  position: relative;
  /* padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  margin-top: 9.375rem; */
  padding-top: 4.25rem;
  padding-bottom: 6.25rem;
  margin-top: 13.9rem;
}
.cta-image {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 45rem;
  width: 50%;
}

.cta-form-wrapper {
  display: flex;
  justify-content: flex-end;
}

.cta-form {
  /* max-width: 52.5rem; */
  width: 52.5rem;
}
.cta-form-title {
  font-size: 3.7rem;
  margin-bottom: 1.9rem;
}
.cta-form-text {
  color: rgb(130, 138, 153);
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
  font-style: normal;
  margin-top: 1.375rem;
  margin-bottom: 3rem;
  max-width: 40rem;
  word-spacing: 0.5px;
}

.input-group-wrapper {
  display: flex;
  gap: 1.875rem;
}
.input-group-vertical {
  display: flex;
  flex-direction: column;
}

.input-group {
  position: relative;
  height: 66px;
  flex-grow: 1;
  background-color: #f0f2f5;
}

.input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.25rem 1.875rem;
  border: 1px solid #e4e4eb;
  background-color: inherit;
  outline: none;
}
.input-group-label {
  position: absolute;
  cursor: text;
  top: 1.36rem;
  left: 1.2rem;
  color: rgb(130, 138, 153);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  transition: top 0.2s, left 0.2s, font-size 0.2s;
  padding: 0 0.625rem;
}

.input:focus {
  border: 1px solid rgb(92, 142, 230);
}

.input:focus ~ .input-group-label,
.input:not(:placeholder-shown).input:not(:focus) ~ .input-group-label {
  top: -0.5rem;
  left: 1.25rem;
  font-size: 0.625rem;
  background-color: inherit;
}
.input.is-invalid {
  border: 1px solid red;
}

.just-validate-error-label {
  position: absolute;
  top: 0;
  right: 10px;
  background-color: inherit;
  transform: translateY(-50%);
  display: inline-block;
  font-size: 0.8rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.cta-form-footer {
  display: flex;
  align-items: center;
  margin-top: 1.875rem;
  gap: 1.875rem;
}
.cta-form-button {
  flex-shrink: 0;
  font-size: 0.92rem;
  padding: 1.2625rem 3.2rem;
}

.notify {
  display: flex;
  align-items: flex-start;
  gap: 0.625rem;
}

.notify-icon {
  flex-shrink: 0;
}

.notify-text {
  margin: 0;
  max-width: 23.75rem;
  color: rgb(130, 138, 153);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 160%;
}

.footer-top {
  padding-top: 3.125rem;
  /* padding-bottom: 3.125rem; */
  padding-bottom: 2.525rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  width: 12.5rem;
  height: 3.9rem;
}

.footer-info {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 14px;
  font-style: normal;
  color: #292d33;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-left: 3.5rem;
}

.footer-info-adress,
.footer-info-email {
  font-style: inherit;
  text-decoration: inherit;
  color: inherit;
}

.footer-phone {
  font-style: normal;
  font-size: 2rem;
  font-weight: 600;
  line-height: 160%;
  text-decoration-line: underline;
  color: #292d33;
  margin-left: auto;
  margin-right: 2rem;
}
.footer-social {
  margin-left: 4rem;
}

.footer-social-link {
  text-decoration: none;
  margin-left: 0.65rem;
}

.footer-separator {
  background-color: #ebebf0;
  color: #ebebf0;
}

.footer-bottom {
  /* padding-top: 3.125rem; */
  padding-top: 2.9rem;
  /* padding-bottom: 3.125rem; */
  padding-bottom: 2rem;
  display: flex;
}

.footer-menu-title {
  margin-top: 0;
  margin-bottom: 1.875rem;
  color: rgb(41, 45, 51);
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
}

.footer-menu-list {
  margin: 0;
  padding-left: 1.25rem;
  list-style: none;
}

.footer-menu-column-2 {
  columns: 20rem auto;
  min-width: 45.2rem;
}

.footer-menu-link {
  text-decoration: none;
  color: #828a99;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 0.9375rem;
  display: block;
}

.footer-menu-link-bold {
  font-size: 1rem;
  font-weight: 600;
  line-height: 160%;
  font-style: normal;
  color: #292d33;
  margin-bottom: 30px;
}

.footer-menu-wrapper:last-child {
  margin-left: 9.2rem;
}

.footer-wrapper {
  /* padding-top: 1.25rem; */
  padding-bottom: 1.25rem;
  color: rgb(130, 138, 153);
  font-style: normal;
}

.footer-copyright,
.footer-policy {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 160%;
  font-style: normal;
  color: inherit;
}
.footer-wrapper,
.footer-legal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 85px;
}

.made-in-1920px {
  font-size: 0.75rem;
}

.made-in-375px {
  display: none;
}

.footer-menu-list-adapt {
  list-style: none;
  margin: 0;
}

.footer-author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.modal,
.modal-thanks {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 45, 51, 0.5);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal.is-open,
.modal-thanks.is-open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

.modal.is-open .modal-dialog,
.modal-thanks.is-open .modal-dialog {
  transform: translateY(0);
  opacity: 1;
}

.modal-dialog {
  background-color: #fff;
  margin: auto;
  max-width: 28.75rem;
  padding: 2.3rem 3.225rem;
  position: relative;
  transform: translateY(-20%);
  opacity: 0;
  transition: transform 0.3s, opasity 0.3s;
}

.modal-close {
  display: block;
  position: absolute;
  top: 40px;
  right: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ebebf0;
}

.modal-title {
  color: rgb(41, 45, 51);
  font-family: Bebas Neue;
  font-size: 3rem;
  font-weight: 400;
  line-height: 120%;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 1.65rem;
}

.modal-text {
  color: rgb(130, 138, 153);
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  font-style: normal;
  margin-bottom: 30px;
}
.modal-input-group {
  background-color: #fff;
}

.modal-form-footer {
  padding-top: 30px;
}
.modal-form-button {
  margin-bottom: 1.75rem;
  width: 100%;
  display: block;
  font-size: 0.9rem;
  padding: 1.2rem 3.75rem;
}

ul.breadcrumb {
  list-style: none;
  padding: 0;
}

/* Отображение элементов списка бок о бок */
ul.breadcrumb li {
  display: inline;
  font-size: 0.875rem;
}

/* Добавить символ косой черты (/) перед/за каждым элементом списка */
ul.breadcrumb_light li + li:before {
  /* padding: 0.375rem; */
  padding: 0.465rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  content: "—\00a0";
  color: rgb(130, 138, 153);
}

/* Добавить цвет для всех ссылок внутри списка */
ul.breadcrumb_light li a {
  text-decoration: none;
  color: rgb(130, 138, 153);
}

ul.breadcrumb_light li:last-child a {
  color: rgb(41, 45, 51);
  font-weight: 500;
}

/* Добавить цвет на наведении курсора мыши */
ul.breadcrumb_light li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.header_inner1 {
  position: relative;
  margin-bottom: 6.2rem;
  padding-top: 9rem;
  padding-bottom: 2.1875rem;
  /* padding-bottom: 100px; */
  /* margin-top: 9.375rem; */
  /* padding-bottom: 100px; */
  z-index: 1;
}

.section-title-about {
  color: #292d33;
  font-family: "Bebas Neue book";
  font-size: 5rem;
  line-height: 110%;
  margin-top: 1.5625rem;
  letter-spacing: 0.6px;
  margin-bottom: 2rem;
}

.autohim-title-image {
  position: absolute;
  bottom: 0;
  right: 15rem;
  height: 15rem;
  display: block;
}

.autohim-title-image-hidden {
  display: none;
}

.section-blog-page {
  margin-top: 5.1rem;
  margin-bottom: 8.7rem;
}

.blog-image {
  background-image: url("../img/blog-photo2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding-top: 0;
  margin-bottom: 0;
}

.blog-image::before {
  content: "";
  position: absolute;
  background: rgba(41, 45, 51, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

ul.breadcrumb_dark li a {
  text-decoration: none;
  color: #fff;
}

ul.breadcrumb_dark li + li:before {
  padding: 0.375rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  content: "—\00a0";
  color: #fff;
}

.header-content-blog {
  padding-top: 9rem;
}

.header-title-blog {
  margin: 1.4375rem 0 1.7rem 0;
  color: #fff;
}

.modal-image {
  width: 100%;
}

.modal-dialog-thanks {
  padding: 2.5rem 3.125rem;
}

.modal-title-thanks {
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
}

.modal-text-thanks {
  margin-bottom: 1.875rem;
}

.about-main-content-wrapper {
  display: flex;
  gap: 7.5rem;
}

.section-slider {
  margin-bottom: 4rem;
}

.about-main {
  margin-top: 6.25rem;
  margin-bottom: 0;
}

.about-main-content {
  margin-top: 3rem;
  margin-bottom: -1.2rem;
}

.about-main-img {
  width: 30rem;
  height: 30rem;
  flex-shrink: 0;
}

.about-main-photo {
  width: 100%;
  height: 100%;
}

.about-seo {
  margin-top: 6.25rem;
  margin-bottom: 9.375rem;
}

.about-seo-title {
  color: rgb(41, 45, 51);
  font-family: Noto Sans;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 160%;
  margin-bottom: 0.8rem;
}
.about-seo-text {
  margin: 0;
}

.about-seo-link {
  gap: 0.9375rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(92, 142, 230);
  font-family: Noto Sans;
  font-size: 1rem;
  font-weight: 620;
  line-height: 160%;
}

.production {
  margin: 6.25rem 0;
}

.svg-list-icon-container {
  width: 30px;
  height: 30px;
}

.client-list-icon2 {
  width: 100%;
  height: 100%;
}

/* .link-display-off {
  display: none;
} */

.autohim-kinds-section {
  margin-bottom: 9rem;
}

.autohim-kinds-text {
  max-width: 52.5rem;
}

.autohim-kinds-item::before {
  align-self: flex-start;
  margin-top: 14px;
  content: "";
  width: 1rem;
  height: 2px;
  /* main */
  background: #5c8ee6;
  /* margin-right: 1.25rem; */
  transition: width 0.2s;
}

.autohim-kinds-list {
  margin-top: 2.6rem;
  list-style: none;
  padding: 0;
  columns: 4 auto;
  column-gap: 0;
}

.autohim-kinds-item {
  font-weight: 500;
  max-width: 18.75rem;
}

.premium-autohim-section {
  background-color: #f0f2f5;
}

.blog-cards-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 1.875rem;
  grid-row-gap: 1.875rem;
  margin-bottom: 3.2rem;
  width: 100%;
}

.pagination {
  text-align: end;
  margin-top: 20px;
  margin-right: 0.1rem;
}

.pagination button {
  padding: 15px 16px;
  margin: 0 2px;
  cursor: pointer;
  /* outline: 1px solid #494a4f; */
  /* border-radius: 1px; */
  border: none;
  font-weight: 600;
  background-color: #fff;
}

.pagination button.active {
  color: white;
  margin: 0 1.1875rem;
  padding: 0.9375rem 1.25rem;
  color: #5c8ee6;
  outline: 1px solid #5c8ee6;
}

.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.section-all-blog {
  margin-top: 6.175rem;
}

.blog-content-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  /* grid-template-rows: 1fr 1fr; */
  grid-column-gap: 15.625rem;
}

.content-link {
  width: 230px;
}

.content-link-share {
  letter-spacing: 0.4px;
  padding-bottom: 0.3rem;
}

.content-link-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.link-container-50-50 {
  width: 50px;
  height: 50px;
  border: 1px solid #ebebf0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.3s;
}

.link-container-50-50:hover {
  border: 1px solid #5c8ee5;
  transition: border 0.3s;
}

.blog-img-container {
  margin-top: 1rem;
}

.blog-photo {
  width: 100%;
  height: 100%;
}

.blog-content-title {
  margin-top: 1.1rem;
  margin-bottom: 1.3rem;
  color: rgb(41, 45, 51);
  font-family: Noto Sans;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.3px;
}

.blog-content-subtitle1 {
  font-size: 1.75rem;
  letter-spacing: 0.2px;
}

.blog-content-subtitle2 {
  margin-top: 3.3rem;
  margin-bottom: 1.2rem;
  color: rgb(41, 45, 51);
  font-family: Noto Sans;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.1px;
}

.blog-content-text,
.list-numb,
.list-text {
  color: rgb(41, 45, 51);
  font-family: Noto Sans;
  font-size: 1rem;
  font-weight: 500;
  line-height: 162%;
  word-spacing: -0.4px;
  padding-bottom: 0.3rem;
  margin-bottom: 1rem;
}

.list-text {
  margin: 0;
}

.blog-content-text2 {
  padding-bottom: 2rem;
}

.blog-text-list {
  padding: 0;
  margin-bottom: 3rem;
}

.blog-list-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: rgb(41, 45, 51);
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.1px;
  margin-bottom: 0.65rem;
}

.blog-list-item::before {
  align-self: flex-start;
  margin-top: 14px;
  content: "";
  width: 16px;
  height: 2px;
  background: #5c8ee6;
  transition: width 0.2s;
}

.list-numb {
  color: #5c8ee6;
  margin: 0;
  padding-bottom: 1px;
}

.list-block-numb {
  display: flex;
  align-items: baseline;
  gap: 0.8rem;
  margin-bottom: 0.375rem;
}

.privacy-policy {
  margin-bottom: 9.2rem;
}

.policy-text {
  padding-bottom: 0.225rem;
  line-height: 163%;
}

/* .blog-text-item::before {
  content: "01";
  width: 1rem;
  height: 2px;
  /* main */
/* background: #5c8ee6; */
/* margin-right: 1.25rem; */
/* transition: width 0.2s; */
/* }  */

@media (max-width: 1700px) {
  html {
    font-size: 14px;
  }
  .header-image {
    background-position: center;
  }
}

.download-katalog-button {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding: 0.625rem 4rem;
  margin-top: 3.125rem;
  margin-bottom: 6.25rem;
}

.premium-autohim-photo {
  object-fit: fill;
}

@media (max-width: 1460px) {
  html {
    font-size: 13px;
  }
  .header-logo {
    padding: 2rem;
  }
  .logo-svg {
    max-width: 6rem;
  }
  .header-nav {
    padding-left: 2rem;
  }
  .header-nav-item:not(:last-child) {
    margin-right: 1rem;
  }
  .header-phone {
    margin-right: 2rem;
  }
  .cta-form {
    max-width: 52.5rem;
    /* width: 52.5rem; */
  }

  .cta-form {
    z-index: 1;
  }
  .modal-dialog-thanks {
    padding: 30px;
  }

  .modal-close-thanks {
    right: 30px;
    top: 30px;
  }

  .modal-title-thanks {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .modal-text-thanks {
    margin-bottom: 20px;
  }

  .blog-content-wrapper {
    grid-column-gap: 7.625rem;
  }

  .blog-img-container {
    width: auto;
    margin-top: 1rem;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 70rem;
  }
  .header-phone {
    display: none;
  }
  .navbar {
    /* height: 5.6rem; */
    height: 5.875rem;
  }
  .navbar-button {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .swiper {
    height: auto;
  }

  .slider-buttons {
    display: flex;
  }

  .primary-buttons-wrapper {
    height: 40px;
  }

  .primary-button-prev,
  .primary-button-next {
    width: 60px;
  }

  .steps-slider-buttons {
    display: flex;
    justify-content: flex-end;
  }

  .steps {
    gap: 0;
  }
  .steps-item {
    /* min-width: 18.75rem; */
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 300px;
  }
  .card {
    flex-basis: 50%;
  }

  .trademark-card {
    flex-basis: 50%;
    border: 1px solid #ebebf0;
    text-decoration: none;
    transition: border 0.3s;
    padding: 3.125rem;
    display: grid;
    grid-template-columns: auto auto;
    /* grid-template-rows: auto 2fr; */
  }

  .founder-content {
    max-width: 35rem;
  }

  .clients-content {
    flex-basis: 60%;
  }

  .clients-wrapper {
    gap: 2.6rem;
  }

  .section-title-client {
    font-size: 2.8rem;
    line-height: 125%;
    margin-bottom: 3.5rem;
  }

  .footer-top {
    padding-bottom: 1.6rem;
  }

  .footer-logo {
    width: 160px;
    height: 59px;
    margin-top: 0.7rem;
    margin-bottom: 27px;
  }

  .footer-info {
    margin-left: 0.5rem;
  }

  .footer-phone {
    font-size: 2.3rem;
    margin-left: 0;
    margin-right: 0;
    letter-spacing: 0.2px;
    margin-bottom: 2rem;
  }
  .footer-info {
    margin-bottom: 10px;
    font-size: 1.18rem;
  }
  .footer-social {
    margin-left: -7px;
    margin-top: 10px;
  }

  .footer-bottom {
    padding-top: 2rem;
    justify-content: space-around;
  }
  .footer-menu-wrapper:last-child {
    margin-left: 0;
  }

  .footer-menu-title {
    font-size: 1.22rem;
    margin-bottom: 2.1rem;
  }

  .footer-menu-list {
    padding-left: 1.65rem;
  }

  .footer-menu-link {
    font-size: 1.2rem;
    margin-bottom: 0.7375rem;
  }

  .footer-menu-column-2 {
    columns: auto;
    min-width: auto;
  }
  .footer-phone {
    margin-right: 200px;
  }
  .autohim-title-image {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 10rem;
  }
  .our_production-content-wrapper {
    grid-column-gap: 3.5rem;
  }
  .slider-button-bl {
    display: flex;
  }

  .about-main-content-wrapper {
    gap: 3.5rem;
  }

  .about-main-img {
    width: 23.4375rem;
    height: 23.4375rem;
    flex-shrink: 0;
  }
  .autohim-kinds-list {
    columns: 2 auto;
  }

  .blog-content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "content-page"
      "content-link";
  }

  .content-link {
    width: 230px;
    grid-area: content-link;
  }

  .blog-content-page {
    grid-area: content-page;
  }
  .our_production-content {
    margin-top: -2.125rem;
    grid-area: op_content;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 12px;
    /* pointer-events: none; */
    cursor: default;
  }

  * {
    cursor: default;
  }

  .button,
  .button-link,
  .slider-button-prev,
  .slider-button-next,
  .primary-button-prev,
  .primary-button-next,
  .pagination button {
    cursor: default;
  }

  .button-link:hover:before {
    width: 2.5rem;
  }

  .card:hover .card-title {
    color: #292d33;
  }

  .trademark:hover,
  .trademark-card:hover {
    border-color: #828a99;
  }

  .trademark-card:hover .trademark-card-logo {
    fill: #828a99;
  }

  .trademark-card:hover .trademark-card-title {
    color: #828a99;
  }

  .card:hover {
    border-color: #ebebf0;
  }

  .clients-logo-item:hover {
    filter: grayscale(100%);
  }

  .link-container-50-50:hover {
    border: 1px solid #ebebf0;
  }

  /* .link-container-50-50:hover,
  ul.breadcrumb_light li a:hover,
  .clients-logo-item:hover,
  .trademark-card:hover,
  .trademark-card:hover,
  .trademark-card:hover,
  .trademark:hover,
  .card:hover,
  .button-link:hover:before,
  .header-nav-link:hover::after {
    pointer-events: none;
    cursor: default;
  } */

  .container {
    max-width: 60rem;
  }

  .header-nav {
    display: none;
  }
  .header-logo {
    flex-grow: 1;
    justify-content: center;
    padding: 1rem;
  }
  .logo-svg {
    max-width: 10rem;
  }
  .mobile-menu-toggle {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.2rem 2.5rem;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
  }

  .navbar-light .mobile-menu-line {
    background-color: #333;
  }

  .mobile-menu-line {
    height: 1px;
    background-color: #fff;
    width: 100%;
    transition: transform 0.2s;
  }
  .mobile-menu-line:nth-child(2) {
    width: 80%;
  }
  .navbar-button {
    padding-left: 2.3rem;
    padding-right: 2.3rem;
  }

  .navbar-button .button-text {
    display: none;
  }
  .navbar-button .button-icon {
    display: block;
    fill: #ffffff;
  }

  .mobile-menu {
    /* display: block; */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 2;
    background-color: #fff;
    padding-top: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .mobile-menu.is-open {
    display: block;
  }
  .mobile-menu-nav {
    list-style: none;
    padding: 0;
  }
  .mobile-menu-nav-item {
    margin-bottom: 2rem;
  }
  .mobile-menu-link {
    text-decoration: none;
    font-family: Noto Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 160%;
    color: #292d33;
  }
  .mobile-submenu {
    list-style: none;
    padding: 0;
    padding-left: 1rem;
    margin-top: 1rem;
  }
  .mobile-submenu-link {
    text-decoration: none;
    color: rgb(130, 138, 153);
    font-family: Noto Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
  }

  .mobile-phone {
    display: block;
    color: rgb(41, 45, 51);
    font-family: Noto Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0%;
    text-decoration-line: underline;
    border-top: 1px solid #ebebf0;
    padding-top: 2rem;
    margin-bottom: 2rem;
  }
  .mobile-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .mobile-info-adress,
  .mobile-info-email {
    text-decoration: none;
    font-style: normal;
    color: rgb(41, 45, 51);
    font-family: Noto Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
  }

  .social-info {
    height: 24px;
    display: flex;
    gap: 0.9375rem;
    margin-top: 1.25rem;
    margin-bottom: 0.9375rem;
  }

  .social-icon {
    width: 24px;
    height: 24px;
  }

  .close-menu .mobile-menu-line:nth-child(2) {
    display: none;
  }
  .close-menu .mobile-menu-line:nth-child(1) {
    transform: rotate(45deg) translateY(21px);
  }
  .close-menu .mobile-menu-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-21px);
  }

  .mobile-menu-line-scr {
    margin-left: 0;
  }
  .close-menu .mobile-menu-line-scr:nth-child(1) {
    transform: rotate(45deg) translateY(10px);
  }
  .close-menu .mobile-menu-line-scr:nth-child(3) {
    transform: rotate(-45deg) translateY(-10px);
  }

  .trademarks {
    flex-wrap: wrap;
  }
  .trademark {
    flex-basis: 100%;
  }

  .trademark-cards {
    flex-direction: column;
  }
  .clients-wrapper {
    flex-direction: column;
  }

  .founder-content {
    max-width: 30rem;
  }

  .footer-social {
    margin: 0 0 10px 0;
  }
  .about-main-img {
    /* width: 100%;    
    height: 100%; */
    width: 23.4375rem;
    height: 23.4375rem;
  }
  .blog-text-content {
    columns: 1 auto;
  }
  .modal-questions,
  .modal-thanks {
    top: -82px;
    left: -1px;
  }

  .modal-title1 {
    font-size: 3.2rem;
    margin-bottom: 1.25rem;
    margin-left: 0;
    letter-spacing: 0.8px;
  }

  .modal-text1 {
    font-size: 1.18rem;
    margin-bottom: 17px;
  }

  .modal-dialog1 {
    padding: 2.3rem 2.525rem;
  }

  .modal-close1 {
    top: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
  }

  .modal-form-button1 {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    padding: 1.7rem 2.35rem;
  }

  .modal-form-footer1 {
    padding-top: 20px;
  }

  .navbar-modal {
    /* height: 4.2rem; */
    height: 5.85rem;
  }

  .navbar-button-modal {
    padding-left: 2.4rem;
    padding-top: 1rem;
  }

  .navbar-light .mobile-menu-toggle {
    padding: 1.6rem 2.5rem;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 40rem;
  }

  .header-title,
  .section-title-about,
  .header-title-blog {
    font-size: 4rem;
    margin: 1.4375rem 0 1.1rem 0;
  }

  .header-text {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 153%;
    letter-spacing: 0px;
    word-spacing: -0.0625rem;
    margin-bottom: 2.625rem;
  }

  .header-content {
    padding-top: 4rem;
  }

  .card {
    flex-basis: 100%;
  }

  .trademark-card {
    padding: 1.875rem;
    grid-column-gap: 1.875rem;
  }

  .founder-photo,
  .our_production-photo {
    position: relative;
    width: 100%;
    margin-bottom: 0.8rem;
  }
  .cta-image {
    display: none;
  }

  .footer-bottom {
    padding-top: 2rem;
    flex-direction: column;
    justify-content: space-around;
    gap: 21px;
    padding-bottom: 0;
  }
  .footer-menu-list-adapt {
    padding-left: 0;
    margin: 0;
    list-style: none;
  }

  .footer-menu-link-bold {
    margin-bottom: 2.3rem;
  }
  .footer-wrapper {
    padding-top: 0;
  }

  .footer-copyright,
  .footer-policy {
    font-size: 1rem;
  }

  .fw-legal,
  .footer-legal {
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
  }

  .made-in-1920px {
    display: none;
  }

  .made-in-375px {
    display: block;
  }
  .footer-author {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }

  .footer-phone {
    margin-right: 0;
  }
  .footer-info {
    width: 100%;
  }

  .autohim-title-image {
    display: none;
  }

  .our_production-content-wrapper,
  .founder-section {
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 0;
  }

  .founder-photo {
    grid-area: op_img;
  }

  .founder-content-wrapper {
    grid-area: op_content;
  }

  .tit_img_txt {
    grid-template-areas:
      "op_title"
      "op_img"
      "op_content";
  }

  .img_tit_txt {
    grid-template-areas:
      "op_img"
      "op_title"
      "op_content";
  }

  .tit_txt_img {
    grid-template-areas:
      "op_title"
      "op_content"
      "op_img";
  }

  .about-main-content-wrapper {
    flex-direction: column;
  }

  .our_production-content {
    margin-top: 0.2rem;
  }

  .about-main-img {
    align-self: center;
  }
  .download-katalog-button {
    margin-bottom: 0;
  }

  .blog-cards-wrapper {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 92%;
  }
  .company-button {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 120%;
    /* padding: 1.7625rem 7.2rem; */
    padding: 1.7625rem 6.9rem;
  }
  /* .header-title {
    font-size: 2rem;
  } */

  .header-features {
    margin-top: 3.55rem;
    min-height: 11.5rem;
  }

  .header-features-item {
    /* padding: 1.575rem 2.4rem; */
    padding: 1.175rem 2.425rem;
  }

  .steps {
    height: 14.375rem;
  }

  .section-light {
    margin-bottom: 8rem;
  }
  .header-features-text {
    font-size: 1.2rem;
    /* font-weight: 400;
    line-height: 160%; */
    letter-spacing: 0;
    letter-spacing: -0.0063rem;
    line-height: 184%;
    /* padding-bottom: 7px; */
    height: 2.8rem;
  }

  .swiper-wrapper {
    width: 95%;
  }

  .steps-text {
    margin-bottom: 2.15rem;
  }

  .slider-buttons {
    margin-top: -1.1rem;
  }

  .separator {
    width: 8.375rem;
  }

  .steps-item {
    padding-left: 0;
    padding-right: 0;
  }

  .steps-text {
    font-size: 1.14rem;
    line-height: 152%;
  }

  .clients-list-item {
    gap: 1.55rem;
    font-size: 1.16rem;
  }
  .clients-logo-list {
    margin-top: 0;
  }

  .clients-logo {
    width: 50px;
    height: 50px;
  }

  .clients-logo-item {
    min-height: 9.15rem;
  }

  /* .header-content {
    padding-top: 2rem;
  } */

  .section {
    /* margin-top: 8.375rem; */
    margin-top: 4.375rem;
  }

  .section-title {
    font-size: 2.75rem;
    letter-spacing: 0.5px;
    margin-bottom: 3rem;
  }

  .section-title-founder,
  .section-title-our_production {
    margin-bottom: 1.2rem;
  }

  .section-title-client {
    margin-bottom: 3.5rem;
    letter-spacing: 0.5px;
  }

  .founder-text,
  .our_production-text,
  .about-main-text,
  .about-seo-text {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 150%;
    padding-bottom: 0;
  }

  .our_production-text {
    margin: 0;
    padding-bottom: 1rem;
    line-height: 153%;
  }

  .about-seo {
    margin-top: 3.9rem;
  }

  .about-seo-text {
    font-size: 1.4rem;
    line-height: 145%;
  }

  .about-seo-link {
    gap: 1.3375rem;
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }

  .founder-link-1920 {
    display: none;
  }

  .founder-link-375 {
    display: block;
    font-size: 1.2rem;
    font-weight: 620;
    line-height: 160%;
  }

  .steps-num {
    font-size: 4rem;
  }

  .steps-title {
    margin-top: 0.8rem;
  }

  .steps-slider-button-prev,
  .steps-slider-button-next {
    width: 5.05rem;
  }

  .button-link::before {
    width: 3.4rem;
  }

  .button-link {
    font-size: 1.2rem;
  }
  .steps-item {
    max-width: 100%;
  }

  .steps-num::after {
    width: 75%;
  }

  .card-content {
    padding: 1.3rem 2.25rem;
  }

  .card-title {
    letter-spacing: -0.4px;
  }

  .card-text {
    /* margin-bottom: 22.1rem; */
    /* margin-bottom: 24.1rem;
      margin-top: 0.1rem;
      font-size: 1.19rem; */
    margin-bottom: 22.1rem;
    margin-top: 0.1rem;
    font-size: 1.19rem;
    min-height: 7.8rem;
  }
  .section-trademark {
    margin-bottom: 7.175rem;
  }
  .founder-section {
    margin-top: 7rem;
    margin-bottom: 7.275rem;
  }

  .button-link-main {
    width: 14.5rem;
  }

  .clients {
    margin-top: 7rem;
  }

  .section-cta {
    margin-top: -3rem;
    padding-top: 2.25rem;
    padding-bottom: 4.55rem;
  }
  .section-title_full {
    display: none;
  }

  .section-title_375px {
    display: block;
  }

  .trademark {
    flex-wrap: wrap;
    /* padding: 1.875rem; */
    padding: 1.6rem 2.5rem;
  }

  .trademark-cards {
    margin-top: 0;
    padding-top: 0.3rem;
  }

  .trademark-card {
    grid-template-columns: 8.35rem auto;
    grid-template-rows: 8.25rem auto;
    grid-row-gap: 1.9rem;
    grid-template-areas:
      "logo title"
      "text text ";
    padding-left: 2.5rem;
  }

  .trademark-card-text {
    margin-top: 0;
  }

  .trademark-card-title {
    letter-spacing: -0.4px;
    padding-left: 0.5rem;
    line-height: 130%;
  }

  .trademark-card-text {
    font-size: 1.1rem;
    letter-spacing: 0.5px;
  }

  .clients-list,
  .our_production-list {
    columns: 1;
  }

  .clients-logo-item {
    flex-basis: 50%;
  }
  .section-blog {
    /* margin-bottom: 11.775rem; */
    margin-bottom: 8.775rem;
  }

  .section-title-blog {
    line-height: 130%;
    margin-bottom: 0;
  }

  .blog-card {
    min-height: 16.1rem;
    padding: 0.8rem 1.6rem;
  }

  .blog-card-title {
    line-height: 120%;
    font-size: 1.67rem;
    word-spacing: 1.8px;
  }
  .blog-card-text {
    display: none;
  }

  .blog-slider-footer {
    margin-top: 1.5rem;
  }

  .blog-button-next {
    padding-right: 0;
    border: 0;
  }
  .blog-button-prev {
    padding-left: 0;
    border: 0;
  }

  .cta-form-title {
    margin-bottom: 1.4rem;
  }

  .cta-form-text {
    font-size: 1.16rem;
    line-height: 150%;
  }
  .input-group-wrapper {
    flex-direction: column;
  }

  .input-group {
    height: 60px;
  }
  .cta-form-footer {
    flex-direction: column;
    margin-top: 0.7rem;
  }
  .cta-form-button {
    font-size: 1.23rem;
    /* width: 345px; */
    width: 100%;
    padding: 1.5625rem 3.2rem;
  }
  .notify {
    align-self: flex-start;
    margin-top: 0.65rem;
  }
  .notify-text {
    font-size: 1.03rem;
    line-height: 150%;
  }

  .footer-top {
    flex-direction: column;
    align-items: flex-start;
  }

  .production {
    /* margin-bottom: 6.25rem; */
    margin-bottom: 3.75rem;
  }

  .about-seo {
    margin-top: 3.125rem;
    margin-bottom: 10.25rem;
  }
  .autohim-kinds-list {
    columns: 1 auto;
  }
  .logo-svg {
    width: 10rem;
    height: 3.75rem;
  }

  .header_inner1 {
    padding-top: 9.8rem;
    padding-bottom: 3.188rem;
    margin-bottom: 3rem;
  }

  .section-title-about {
    letter-spacing: -0.6px;
  }

  .breadcrumb {
    margin-top: 2rem;
  }

  ul.breadcrumb li {
    font-size: 1.2rem;
  }

  .about-main-content {
    margin-top: 0.5rem;
  }

  .section-title-about-main {
    margin-bottom: 1.4rem;
  }

  .our_production-section {
    /* margin-top: 6rem; */
    margin-top: 4rem;
    margin-bottom: 1.375rem;
  }

  .section-title-our_production {
    margin-bottom: 1.5rem;
    font-size: 2.8rem;
    line-height: 130%;
    margin-bottom: 0;
  }

  .our_production-img {
    max-height: 97%;
  }

  .our_production-content {
    margin-top: 0.2rem;
  }

  .founder-content {
    margin-top: 1.725rem;
  }

  .blog-text2 {
    display: none;
  }

  .blog-text {
    margin-bottom: 2.8rem;
  }

  .section-title-about {
    margin: 1.4375rem 0 2.5rem 0;
  }

  .our_production-title_var2 {
    margin-top: 1.4rem;
  }
  .clients-list-item-v2:not(:last-child) {
    margin-bottom: 0.8rem;
  }

  .our_production-list-v2 {
    margin-bottom: 4rem;
  }
  .autohim-kinds-section {
    margin-top: 8.4rem;
  }

  .autohim-kinds-item {
    font-weight: 500;
    max-width: 100%;
    margin-bottom: 1.57rem;
    gap: 1.55rem;
    font-size: 1.16rem;
  }
  .section-all-blog {
    margin-top: 3.675rem;
  }

  .blog-cards-wrapper {
    grid-row-gap: 1rem;
  }

  .pagination {
    text-align: center;
    margin-top: 51px;
    margin-right: 0;
  }

  .pagination button {
    padding: 15px 16px;
    margin: 0 3px;
  }

  .pagination button.active {
    margin: 0 1.1875rem;
    padding: 1.25rem 1.67rem;
  }

  .header-content-blog {
    padding-top: 0;
  }

  .blog-more-v1 {
    display: none;
  }

  .breadcrumb_dark2 {
    display: block;
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
  }
  .blog-image {
    padding-bottom: 4.88rem;
    margin-bottom: 1rem;
  }
  .section-blog-page {
    margin-top: 3rem;
  }
  .blog-content-title {
    margin-top: 1.1rem;
    font-size: 2.35rem;
    line-height: 135%;
    margin-bottom: 0.5rem;
  }
  .blog-content-subtitle1 {
    font-size: 1.75rem;
    letter-spacing: 0.2px;
  }

  .blog-content-text,
  .list-numb,
  .list-text {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 152%;
    padding-bottom: 1.4rem;
  }

  .list-text {
    padding-bottom: 0;
  }

  .blog-content-subtitle2 {
    margin-top: 2.2rem;
    margin-bottom: 1.5rem;
    font-size: 1.55rem;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.2px;
  }
  .blog-content-text2 {
    /* padding-bottom: 1.4rem; */
  }

  .blog-list-item::before {
    margin-top: 14px;
    content: "";
    width: 29px;
  }

  .blog-list-item {
    font-size: 1.17rem;
    gap: 1.5rem;
  }
  .blog-text-list {
    margin-bottom: 2.6rem;
  }
  .list-numb-text {
    font-size: 1.15rem;
  }
  .list-block-numb {
    gap: 1.2rem;
  }
  .content-link {
    margin-top: 3rem;
  }

  .section-title-blog-main {
    margin-bottom: 3rem;
  }
}
